<div class="recommendation">
    <div class="heading"> Recommendations</div>
    <div class="outer">
        <div class="myWrapper">
            <ul>
                <li ng-repeat="suggestion in vm.suggestions" class="item-{{$index}}">
                    <img class="icon-size"
                         ng-src="{{suggestion.icon}}">
                    <span>Solar energy generation is going down on {{suggestion.value.dateTime| date:'MM/dd/yyyy @ h:mma'}}, Do any high energy task before that</span>
                </li>
            </ul>
        </div>
    </div>
</div>

