.date-range-selector {
    .date-range-header {
        font-size: 20px;
        line-height: 1;
        color: #282e26;
    }
    .color-red {
        color: red;
    }
    .padding-top-25 {
        padding-top: 25px;
    }
    .panel {
        margin-bottom: 10px;
    }
}

