.battery {
    .panel {
        border: 0;
        margin-bottom: 15px;
      }

    .battery-chart{
        height: 400px;
        margin: 0;
    }

    .h4-class {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 20px;
        font-size: 17px;
        color: #777777;
    }
}