.date-range-selector {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;

  .panel {
    border: 0;
    margin-bottom: 0;
  }

  .date-range-selector {
    .color-red {
      color: black;
    }
  }

  .btn-selected {
    background-color: grey;
  }

  button.btn {
    user-select: none;
  }

  .image-class {
    max-height: 20px;
  }

  .btn-default, .btn-default:hover {
    background-image: none;
  }

  .btn-default:hover {
    background-color: grey;
  }
}