.header-class {
  .navbar {
    border: 0;
    padding-bottom: 5px;
  }

  .navbar-brand{
    font-size: 25px;
    text-align: center;
  }
  .navbar-right {
    width: 75%;
  }
  .image-class {
    max-height: 20px;
  }

  .remove-margin {
    margin-bottom: 0;
  }

  .date-selector {
    margin-top: 5px;
  }

  .uptake-logo {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  label {
    font-size: 0.9em;
    line-height: 2.6;
  }
}
