.header-class {
  .navbar {
    border: 0;
  }

  .navbar-brand{
    font-size: 25px;
    text-align: center;
  }
  .image-class {
    max-height: 20px;
  }

  .remove-margin {
    margin-bottom: 0;
  }

}
