.recommendation {
  margin-bottom: 45px;
  .heading {
    color: #333333;
    font-size: 18px;
    text-align: center;
    font-weight: 400;
  }
  .icon-size {
    color: aqua;
    height: 25px;
  }
  .outer{
    height: 30px;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    padding: 15px 0;
  }
  .myWrapper {
    height: 45px !important;
    background-color: #eff2f9;
    padding: 25px 20px;
  }
}