.total-impact {
  .panel {
    border: 0;
    margin-bottom: 15px;
    background-color: #eff2f9
  }
  .icon-size {
    width: 40px;
    height: 40px;
  }

  .h4-class {
    color: #333333;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: 10px 0 0 10px;
  }
}