<!-- <div class="forecast-data">
        <div class="panel panel-default">
            <h4 class="h4-class">Energy Forecast</h4>

            <div class="panel-body">
                <div ng-repeat="(key, val) in vm.forecastData"
                     class="">
                    <span ng-style="vm.width"
                          class="pull-left forecast-block">
                        <div class="row"><span class="col-xs-7 forecast-val text-green">{{val.renewable}}</span><span class=" forecast-unit">renewable energy</span></div>
                        <div class="row"><span class="col-xs-7 forecast-val text-red">{{val.grid}}</span><span class=" forecast-unit">grid energy</span></div>
                        <div class="row"><span class="col-xs-7 forecast-val">{{val.gridUsage}}</span><span class=" forecast-unit">kWh Grid usage</span></div>
                        <div class="row"><span class="col-xs-7 forecast-val">$ {{val.costSaved}}</span><span class=" forecast-unit">projected savings</span></div>
                        <div class="row"><span class="col-xs-12 forecast-day">{{key}}</span></div>
                    </span>
                </div>
            </div>
        </div>
    </div> -->

    <div class="forecast-data">
            <div class="panel panel-default">
                <h4 class="h4-class">Energy Forecast</h4>

                <div class="panel-body">
                    <div ng-repeat="(key, val) in vm.forecastData"
                         class="" style="width: 225px; float:left; height:165px; margin:20px">
                        <span ng-style="vm.width">
                            <div class="row">
                                <span class="col-xs-7 forecast-val text-green">{{val.renewable}}</span>
                                <span class=" forecast-unit">renewable energy</span>
                            </div>
                            <div class="row">
                                <span class="col-xs-7 forecast-val text-red">{{val.grid}}</span>
                                <span class=" forecast-unit">grid energy</span>
                            </div>
                            <div class="row">
                                <span class="col-xs-7 forecast-val">{{val.gridUsage}}</span>
                                <span class=" forecast-unit">kWh Grid usage</span>
                            </div>
                            <div class="row">
                                <span class="col-xs-7 forecast-val">$ {{val.costSaved}}</span>
                                <span class=" forecast-unit">projected savings</span>
                            </div>
                            <div class="row" style="margin-right: 0px; margin-left: 0px;">
                                <hr class="hr-style">
                                <span class="col-xs-12 forecast-day">{{key}}</span>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>