<div class="date-range-selector">
    <div class="panel panel-default">
        <div class="panel-body">
            <form>
                <div class="row">
                    <div class="col-xs-1">
                        <label for="startDate" class="control-label">Start Date:</label>
                    </div>
                    <div class="col-xs-3">
                        <div class="input-group">
                            <input
                                type="text"
                                uib-datepicker-popup
                                popup-placement="bottom-right"
                                popover-trigger="'outsideClick'"
                                ng-model="vm.dates.startDate"
                                ng-model-options="vm.dateModelOptions"
                                datepicker-options="vm.datePickerOptions"
                                class="form-control"
                                ng-class="{'ngInvalidDate': vm.invalidDate}"
                                is-open="vm.isStartDatePickerOpen"
                                datepicker-mode="'day'"
                                show-button-bar="false"
                                ng-change="vm.checkDates()"
                                >
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openStartDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-xs-1">
                        <label for="endDate" class="control-label">End Date:</label>
                    </div>
                    <div class="col-xs-3">
                        <div class="input-group">
                            <input
                            type="text"
                            uib-datepicker-popup
                            popup-placement="bottom-right"
                            popover-trigger="'outsideClick'"
                            ng-model="vm.dates.endDate"
                            ng-model-options="vm.dateModelOptions"
                            datepicker-options="vm.datePickerOptions"
                            class="form-control"
                            ng-class="{'ngInvalidDate': vm.invalidDate}"
                            is-open="vm.isEndDatePickerOpen"
                            datepicker-mode="'day'"
                            show-button-bar="false"
                            ng-change="vm.checkDates()"
                            >
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openEndDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <a type="button"
                           class="btn btn-primary"
                           ng-disabled="vm.errMessage"
                           ng-click="vm.applyDatesThroughClick()">Apply</a>
                    </div>
                    <div class="col-sm-3">
                        <div class="btn-group" role="group">
                            <button ng-repeat="btn in vm.buttonGroup"
                                    class="btn btn-primary"
                                    ng-class="{'btn-selected': (vm.selectedRange == btn)}"
                                    ng-click="vm.applyDatesThroughButtonGroup(btn)">{{btn.name}}
                            </button>
                        </div>
                    </div>
                </div>
                <span class="color-red">{{vm.errMessage}}
            </form>
        </div>
    </div>
</div>
<span up-kit-spinner={{vm.loading}}></span>

